{% extends 'formularios.html' %}
{% load i18n %}
{% block formulario %}
    {% trans "Acceder al sistema." %}
    <br>
    <br>
    {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
    {% endif %}
    <form action="" method="post" class="">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary" id="boton_envio">{% trans "Enviar" %}</button>
    </form>
    <div class="row">
        <div class="col-md-12">
            <p>{% trans "Si aún no tiene una cuenta regístrate" %} <a href="/registro/">{% trans "aquí" %}</a></p>
        </div>
    </div>
{% endblock %}
