{% extends 'template_base.html' %}
{% load i18n %}
{% load static %}

{% block body_content %}
    <style>
    #formulario{
        text-align: center;
        padding: 20px;
    }

    #intro{

    }
    #logo_container{
        padding: 20px;
        width: 200px;
        height: 200px;
        align-self: center;
        margin: 0 auto;
    }
    #logo_border{
        border: 1px solid lightgray;
        border-radius: 5px;
        left: 50%;
    }
    #logo_border img{
        width: 100%;
        height: 100%;
    }
    button{
        width: 200px;
        margin: 30px;
    }
    </style>
    <div class="row">
        <div id="contenedor_formulario" style="width: 100%;">
            <div class="row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-6" id="formulario">
                    {% if hidden_header %}
                    <span id="intro">{% trans "Bienvenido al sistema TechMed." %}</span><br>
                    <div id="logo_container">
                        <div id="logo_border">
                            <img src="{% static 'img/logo.png' %}">
                        </div>
                    </div>
                    {% endif %}
                    {% block formulario %}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
{% endblock %}

