{% extends 'template_base.html' %}
{% load i18n %}
{% load static %}

{% block body_content %}
    <style>
        #accesos_inicio{
            margin: 50px 0;
            height: 350px;
            text-align: center;
            padding: 30px;
        }
        .helper-espacios{
            border: 1px solid lightgray;
            border-radius: 30px;
            width: 100%;
            height: 100%;
        }
        #color-pacientes{
            background-color: #255f8c;
            cursor: pointer;
        }
        #color-pacientes:hover{
            background-color: #144A73;
        }
        #color-pacientes:hover p{
            font-weight: bold;
        }

        #color-admins{
            background-color: #258975;
            cursor: pointer;
        }
        #color-admins:hover{
            background-color: #127360;
        }
        #color-admins:hover p{
            font-weight: bold;
        }

        .container-texto{
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .container-texto p{
            color: #EFEFEF;
            font-size: 25px;
        }
    </style>
    <div class="row" id="accesos_inicio">
        <div class="col-md-6 coloreado">
            <div class="helper-espacios" id="color-pacientes" onclick="ir_pacientes()">
                <div class="container-texto" id="texto-pacientes">
                    <p>ACCESO PACIENTES</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 coloreado">
            <div class="helper-espacios" id="color-admins" onclick="ir_admins()">
                <div class="container-texto" id="texto-admins">
                    <p>ACCESO ADMINS</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function ir_admins() {
            window.location.href = '/yema-test-admin/';
        }
        function ir_pacientes(){
            window.location.href = '/accede/';
        }
    </script>
{% endblock %}

