{%  extends 'template_base.html' %}
{% load static %}
{% load i18n %}
{% block header_scripts %}
<script src="{% static '/js/responsive-calendar.js' %}"></script>
<link href="{% static '/css/responsive-calendar.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block body_content %}
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2>{% trans "Mis citas" %}</h2>
        </div>
        <di>
            <a type="button" class="btn btn-outline-success btn-sm" href="/solicitar-cita/">{% trans "Agendar nueva cita" %}</a>
        </di>
    </div>
    <div class="responsive-calendar">
  <div class="controls">
      <a class="pull-left" data-go="prev"><div class="btn"><i class="icon-chevron-left"> < </i></div></a>
      <h4><span data-head-year></span> <span data-head-month></span></h4>
      <a class="pull-right" data-go="next"><div class="btn"><i class="icon-chevron-right"> > </i></div></a>
  </div><hr/>
  <div class="day-headers">
    <div class="day header">{% trans "Lunes" %}</div>
    <div class="day header">{% trans "Martes" %}</div>
    <div class="day header">{% trans "Miércoles" %}</div>
    <div class="day header">{% trans "Jueves" %}</div>
    <div class="day header">{% trans "Viernes" %}</div>
    <div class="day header">{% trans "Sábado" %}</div>
    <div class="day header">{% trans "Domingo" %}</div>
  </div>
  <div class="days" data-group="days">
    <!-- the place where days will be generated -->
  </div>
</div>
<!-- Responsive calendar - END -->
{% endblock %}
{% block body_scripts %}
    <script>
    $( document ).ready( function() {
      $('.responsive-calendar').responsiveCalendar(
          {
              events: {
                {% for cita in citas %}
                    "{{ cita.inicio_cita|date:"Y-m-d" }}": {},
                {% endfor %}
              }
          }
      );
    });
    </script>
{% endblock %}
