{% load static%}
{% load i18n %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="{% static '/img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      <span id="carlos">  Prueba Carlos Selvas</span>
  </a>
    {% if request.user.is_authenticated %}
        <div id="logout"><a href="/salir/">{% trans "SALIR" %}</a></div>
    {% endif %}
</nav>
