{% extends 'formularios.html' %}
{% load i18n %}
{% block formulario %}
    {% trans "Para solicitar o revisar tus citas con nuestros médicos por favor regístrate." %}
    <br>
    <br>
    <form action="" method="post" class="" style="width: 100%;">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-primary" id="boton_envio">{% trans "Enviar" %}</button>
    </form>
    <div class="row">
        <div class="col-md-12">
            <p>{% trans "Si ya tienes una cuenta accede" %} <a href="/accede/">{% trans "aquí" %}</a></p>
        </div>
    </div>
{% endblock %}
