{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ pagetitle | default:"Yema Test" }}</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    {% block header_scripts %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
    {% block body_content %}{% endblock %}

    {% block body_scripts %}{% endblock %}
    </div>
</body>
</html>